*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
}
ul{
    list-style: none;
}
.bd{
    border:1px solid red;
}
header{
    width: 800px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header a, header p{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
main{
    width:800px;    
    /* height: 1000px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}
.c-mode{
    display: flex;
    background-color: white;
    width: 94%;
    margin: 20px auto;
    flex-direction: column;
    box-shadow: 1px 1px 8px gray;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigationBar ul{
    flex-direction: row;
    height: 60px;
}
#navigationBar li{
    position: relative;
    align-items: center;
    width: 100px;
    padding: 2px 0;
    margin: 12px 0;
    background-color: #f1f1f1;
    box-sizing: content-box;
}
#navigationBar li:first-child{border-right: 2px solid white;}
#navigationBar li:hover{
    background-color: lightgray;
    border-bottom: 2px solid gray;
}
.navItems{
    display: none;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    top: 40px;
}
#slidesShow{
    height: 200px;
}