*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
}
ul{
    list-style: none;
}
/* main, footer,.history{border:1px solid black;} */

#aside-bar{
    position:fixed;
    font-size: 14px;
}
.asidebarpadding{
    padding: 10px 50px;
    font-size: inherit;
    /* border-bottom: 1px solid gray; */
}
.about{
    border-bottom: 1px solid gray;
}
main{
    position: relative;
}
#mian, .background{
    position: absolute;
}
/* #bar, .h-title{float: left;} */
.aside-bar,.history,.header-main,#bar, .h-title,nav, .typeandDownload,.content-header, .content-headeritems, .h-title, .chooseType{
    display: flex;flex-direction: row;
}
.content{display: flex;}
.aside-bar{
    align-items: flex-start;
}
.typeandDownload:last-child{
    justify-content: flex-end;
    align-items: center;
}
.header-item, #bar{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background,.chooseType,.history{
    box-shadow: 0px 0px 2px #b4b4b4;
}
.main-content{
    box-shadow: 0 0px 5px gray;
}
.main-content{background-color: white;}
header,#main{
    content: "";
    display: block;
    clear: both;
}
.header-main{
    height: 60px;    
}
#bar{
    width: 60px;
    height: 100%;
    line-height: 60px;
    /* margin-left: 20px;
    padding-left: 5px; */
    border-radius: 75px;
}
#bar img{
    height:28px;
}
.h-title{
    margin-left: 15px;
    align-items: center;
}
.header-main .h-title{
    height: 100%;
}
#aside-bar .h-title{
    height: 60px;
}
.titleBold{
    font-weight: bold;
}
.hTitleBlue{color: #4285f4;}
.hTitleRed{color: #ea4335;}
.hTitleOrgin{color: #fbbc05;}
.hTitleGreen{color:#34a853;}

#aside-bar{
    width:300px;
    height: 100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 1px 0px 8px gray;
}
#bar:hover{
    background-color: lightgray;

}
.hideBar{
    display: none;
}
.background{
    width:100%;
    background-color: #fafafa;
    height: 160px;
    top: 0;
    z-index: -1;
}
#main{
    /* height: 400px; */
    max-width: 1280px;
    width: 90%;
    top: 0;
    z-index: 100;
    margin: 0 auto;
}
@media(min-width:1280px){#main{width: 1280px;}}
@media(max-width:1280px){#main{width: 100%;}}
@media(min-width:700px){
    .content{flex-direction: row;}
    .content-left{width: 50%;}
    .content-right{width: 50%;}
}
@media(max-device-width:700px){
    .content{flex-direction: column}
    .content-left{width: 100%;}
    .content-right{width: 100%;}
}
@media(max-width:700px){
    .content{flex-direction: column}
    .content-left{width: 100%;}
    .content-right{width: 100%;}
}
/* .main-header{
    height: 60px;
} */
.typeandDownload{
    width: 50%;
    font-size: 14px;
}
.chooseType{
    height: 30px;
    margin: 15px 0px;
    padding: 0px 15px;
    font-size: inherit;
    align-items: center;
    border-radius: 5px;
    color: #4284f3;
}
/* .chooseType:first-child{
    margin-right: 15px;
} */
.chooseType:last-child{
    margin-left: 15px;
}
nav p{
    font-size: inherit;
    margin:0 15px;
}
.titleClicked{
    background-color: #e4ecfa;
    border-color: #4284f3;
}
.main-content{
    /* height: 220px; */
    border-radius: 10px;
}
.content-header{
    height: 50px;
    border-bottom:1px solid #d5d5d5;
}
.content-headeritems{
    width: 50%;
}
.header-item{
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
.header-item-click{
    color: #4284f3;
    border-bottom: 2px solid #4284f3;
}
.content-left{
    min-height: 150px;
    padding:20px 30px;
    border-right:1px solid #d5d5d5;
    /* background-color: blue; */
}
.content-right{
    min-height: 150px;
    padding:10px 30px;
    background-color: #f5f5f5;
}
.contentInput{
    display: flex;
    min-height: 120px;
    width: 100%;
    justify-content: left;
    overflow: visible;
}
textarea{
    border: 0;
    border-style: none;
    border-color: transparent;
    overflow: visible;
}
.black{
    display: block;
}
.history{
    margin: 100px auto 10px;
    width: 66px;
    height: 66px;
    border-radius: 66px;
    align-items: center;
    justify-content: center;
}
footer{
    justify-content: center;
    text-align: center;
}
footer p{
    font-size: 16px;
    color: gray;
}
.history img{
    width: 33px;
    
}